<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ka.masato.library.device.camera">

    <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <uses-library android:name="com.google.android.things"/>
    </application>

</manifest>